layout {
    gaps 10 
    center-focused-column "never" 
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    focus-ring {
        width 2
        active-color "#5a93d8"
        inactive-color "#505050"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
