    spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
    spawn-sh-at-startup "awww-daemon" // Wallpaper daemon
    spawn-sh-at-startup "awww img /etc/nixos/wallpapers/rennala.png" // Set wallpaper
    spawn-sh-at-startup "waybar" // Launch waybar
