include "configs/input.kdl"
include "configs/binds.kdl"
include "configs/startup.kdl"
include "configs/animations.kdl"
include "configs/layout.kdl"
include "configs/rules.kdl"

cursor {
    hide-when-typing
    hide-after-inactive-ms 2000
}

gestures {
    hot-corners {
        off
    }
}

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H:%M:%S.png"
prefer-no-csd 

hotkey-overlay {
    skip-at-startup
}
